@import 'resours/font.css';

:root {
	--black-color: black;
	--white-color: white;

	--body-color: white;
	--settings-block-bg-color: rgba(255, 255, 255, 0.60);

	--text-area-bg-color: white;
	--text-area-text-color: black;
	--text-area-selection-bg-color: black;
	--text-area-selection-text-color: white;

	--settings-block-btn-bg-color: white;
	--settings-block-btn-text-color: black;

	--create-text-input-bg-color: white;
	--create-text-input-text-color: black;

	--scrollbar-thumb-color: rgba(0, 0, 0, 0.6);
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

* {transition: 0.3s ease-in-out; font-family: "Roboto Slab", serif;}
button:focus {outline: none;}
input:focus {outline: none;}
textarea:focus {outline: none;}

::-webkit-scrollbar {background: rgba(255, 255, 255, 0); width: 8px;}
::-webkit-scrollbar-thumb {background: var(--scrollbar-thumb-color); border-radius: 0px;}
::-webkit-scrollbar-track-piece {background: transparent;}

#main-block {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	background: transparent;
	text-align: center;
	width: 95%;
	padding-bottom: 20px;
}

.text-title {
	width: 95%;
	margin-left: auto;
	margin-right: auto;

	text-align: left;
	font-size: 18pt;
}

#mainTextArea {
	width: 90%;
	min-height: 400px;
	resize: none;
	padding: 14px;
	font-size: 16pt;
	background: var(--text-area-bg-color);
	color: var(--text-area-text-color);
	border: 2px solid transparent;
	border-radius: 8px;
	letter-spacing: 1.5px;
	overflow: hidden;
	word-wrap: break-word;
}
#mainTextArea::selection {
	background-color: var(--text-area-selection-bg-color);
	color: var(--text-area-selection-text-color);
	border-radius: 3px;
}

#main-settings-block {
	width: 100%;
	height: 100%;
	background: var(--settings-block-bg-color);
	backdrop-filter: blur(8.0px);
	-webkit-backdrop-filter: blur(8.0px);
	user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	transition: 0.5s ease-in-out;
	transform: translateX(-100%);
	z-index: 1;
}

#text-list-menu-blc {
	width: 100%;
	height: 100%;
	background: var(--settings-block-bg-color);
	backdrop-filter: blur(8.0px);
	-webkit-backdrop-filter: blur(8.0px);
	user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	transition: 0.5s ease-in-out;
	transform: translateX(-100%);
	z-index: 1;
}

#list-menu-for-create-articles-blc {
	border: 2px solid transparent;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
#list-menu-for-create-articles-blc div:nth-of-type(1) {
	color: var(--black-color);
	font-size: 18pt;
	letter-spacing: 1px;
	width: 220px;
}
#list-menu-for-create-articles-blc input {
	width: 300px;
	padding: 8px;
	font-size: 16pt;
	background: var(--create-text-input-bg-color);
	color: var(--create-text-input-text-color);
	border: 2px solid var(--create-text-input-bg-color);
	border-radius: 5px;

	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}
#list-menu-for-create-articles-blc input:focus {
	border: 2px solid transparent;
	border-bottom: 2px solid var(--black-color);
	border-radius: 0px;
}
#list-menu-for-create-articles-blc button {
	background: var(--create-text-input-bg-color);
	
	border: 2px solid var(--create-text-input-bg-color);
	border-radius: 5px;
	letter-spacing: 2px;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 16pt;
	text-align: center;
	transform: translateY(0px);
	transition: 0.1s ease-in-out;

	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}
#list-menu-for-create-articles-blc button svg {margin-bottom: -4px;}
#list-menu-for-create-articles-blc button svg path {fill: var(--create-text-input-text-color);}
#list-menu-for-create-articles-blc button:active {transform: translateY(10px);}

#main-text-list-blc {
	border: 2px solid azure;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#main-text-list-blc > div {
	margin-bottom: 10px;
	text-align: left;
	background: yellow;
	color: var(--text-area-text-color);
}
#note-btn {
	width: 85%;
	padding: 10px;
	font-size: 16pt;
	letter-spacing: 1px;
	margin-right: 8px;
	border-radius: 6px;
	transform: translateY(0px);
	text-align: left;
}
#main-text-list-blc > div > button:nth-of-type(2) {
	padding: 10px;
	font-size: 16pt;
	letter-spacing: 1px;
	margin-right: 8px;
	border-radius: 6px;
	transform: translateY(0px);
}
#main-text-list-blc > div > button:active  {
	/*transform: translateY(10px);*/
}
#main-text-list-blc > div > button > span {
	background: transparent;
	text-align: right;
	width: 100%;
	display: block;
	font-size: 14pt;
}

/* ------------- STYLES AND ANIMATIONS FOR BUTTON MENU ------------- */
#header-menu-btn, #texts-list-menu-btn, #list-menu-back-btn, #settings-menu-btn {
	display: block;
	border: 2px solid transparent;
	background: transparent;
	text-align: center;
	padding: 14px;
}
#header-menu-btn div, #texts-list-menu-btn div, #list-menu-back-btn div, #settings-menu-btn div {
	width: 16px;
	height: 16px;
	border: 3px solid var(--black-color);
	background: transparent;
	opacity: 0.5;
	transition: 0.2s ease-in-out;
}

#text-add-menu-btn {
	display: block;
	border: 2px solid transparent;
	background: transparent;
	text-align: center;
	padding-left: 14px;
	padding-right: 14px;
}
#text-add-menu-btn svg {width: 22px;height: 22px;position: relative; top: 1px;}
#text-add-menu-btn svg path {
	fill: var(--black-color);
	background: transparent;
	opacity: 0.5;
	transition: 0.2s ease-in-out;
}
#text-add-menu-btn svg:hover path {opacity: 1;}

#settings-menu-btn div:hover, #header-menu-btn div:hover, #texts-list-menu-btn div:hover, #list-menu-back-btn div:hover {opacity: 1;}
#header-menu-btn div {border-radius: 100%;}
#settings-menu-btn div, #list-menu-back-btn div {border-radius: 0 0 100% 0;}
#texts-list-menu-btn div {border-radius: 0px;}
.main-button-blc {
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
/* ---------------------------------------------- */

.setting-btn-block {
	background: transparent;
	border: 2px solid transparent;
	padding: 10px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.setting-btn-block > button:nth-of-type(1) {margin-right: 20px; margin-bottom: 20px;}

#copy-all-text-btn, #delete-all-text-btn {
	background: var(--settings-block-btn-bg-color);
	color: var(--settings-block-btn-text-color);
	border: 2px solid transparent;
	height: 50px;
	border-radius: 5px;
	letter-spacing: 1.5px;
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16pt;
	text-align: center;
	transform: translateY(0px);
	transition: 0.1s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}
#copy-all-text-btn:hover, #delete-all-text-btn:hover {border: 2px solid black;}
#copy-all-text-btn:active, #delete-all-text-btn:active {transform: translateY(10px);}

.header-theme-settings {
	background: transparent;
	padding: 10px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.header-theme-settings > div {margin-bottom: 40px; margin-right: 40px;}

#themes-input-blc {
	width: 200px;
	background: transparent;
	font-size: 16pt;
	border-radius: 2px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#theme-radio-1:checked + label,
#theme-radio-2:checked + label,
#theme-radio-3:checked + label,
#theme-radio-4:checked + label {border-left: 3px solid var(--black-color);}

#sound-radio-blc {
	width: 200px;
	background: transparent;
	font-size: 16pt;
	border: 2px solid transparent;
	border-radius: 2px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#sound-radio-1:checked + label,
#sound-radio-2:checked + label {border-left: 3px solid var(--black-color);}

/* RADIOS INPUT STYLES */
#themes-input-blc > div, #sound-radio-blc > div {
	color: var(--black-color);
	font-size: 16pt;
	letter-spacing: 1px;
	padding-bottom: 12px;
	width: 220px;
}

#themes-input-blc input, #sound-radio-blc input {display: none;}
#themes-input-blc label, #sound-radio-blc label {
	color: var(--black-color);
	padding: 8px;
	padding-left: 18px;
	letter-spacing: 1px;
	background: transparent;
	border-left: 3px solid transparent;
	border: 3px solid transparent;
	border-radius: 0px;
}
#themes-input-blc label:hover, #sound-radio-blc label:hover {
	border: 3px solid var(--black-color);
	border-radius: 6px;
}
